<section class="home" id="home">
    <nav class="navbar">
        <div>
            <a class="text-decoration-none fs-5 fw-bold" style="color: #0d737c;" href="#home">Gabriel<span
                    style="color: #268c96;">Castro</span>
            </a>
        </div>
        <ul class="nav-links mt-3">
            <li><a class="fw-bold" href="#home">Inicio</a></li>
            <li><a class="fw-bold" href="#about">Sobre mi</a></li>
            <li><a class="fw-bold" href="/projects">Portafolio</a></li>
            <li><a class="fw-bold" href="#contact">Contactame</a></li>
        </ul>
        <a href="#" class="button-wrapper">
            <button type="button" class="btn contact-btn">Contactame</button>
        </a>
        <div class="menu-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <div class="hero">
        <div class="hero-text">
            <h3 class="fw-bold">Hola!</h3>
            <h1>Soy Gabriel Castro Ramírez</h1>
            <h2>Web Developer & Data Science</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, molestias
                itaque! Voluptas harum, a eos repellendus ratione provident fugit labore
            </p>
            <button class="btn btn-hire">Contratame</button>
        </div>
        <div class="hero-image">
            <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/Captura_de_pantalla_2024-06-11_013218-removebg-preview.png"
                alt="Hero Img" />
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="about-image">
        <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/Imagen%20de%20WhatsApp%202024-06-11%20a%20las%2001.29.57_1155f262.jpg"
            alt="About Me image">
        <div class="social-media">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
    <div class="about-desc">
        <h3 class="fw-bold">Sobre mi</h3>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laboriosam ipsum dignissimos
            magnam. Sit, officia labore, perferendis iusto tenetur, vitae alias dolorum atque</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit aliquid dolor tenetur.</p>
        <div class="about-personal-info mb-4 ms-4">
            <div><span>Nombre:</span><span>Gabriel Castro</span></div>
            <div><span>Edad:</span><span>36 años</span></div>
            <div><span>Email:</span><span>gbrlcstr@hotmail.com</span></div>
            <div><span>Ubicacion:</span><span>Manizales</span></div>
        </div>
        <a href="./curriculum" target="_blank" class="ms-4 btnCv">Ver Curriculum</a>
    </div>
</section>

<section class="container-fluid resume reusable" id="resume">
    <div class="resume-row">
        <div class="column column-left">
            <header class="sub-heading">
                <h2>EDUCACIÓN</h2>
            </header>
            <main class="resume-contents">
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Carrera desarrollo Front-End React Js</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto molestias et nam
                        nihil provident aliquid blanditiis iusto, explicabo eligendi veniam.
                    </p>
                    <button type="button" class="btn btn-certificate" data-bs-toggle="modal"
                        data-bs-target="#modalReact">
                        Certificado
                    </button>
                    <h5>CoderHouse</h5>
                </div>
                <!--Modal Certificado React-->
                <div class="modal fade" id="modalReact" tabindex="-1" aria-labelledby="React" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="min-width: 700px;">
                            <div class="modal-body">
                                <div>
                                    <img src="https://chi01pap002files.storage.live.com/y4m-MJvIN58aVkvU0jAyLrxvgK0_TNa7SMc0Gmh63qfI_o0Lg7dmfZ_mL4byyEs8P2H7WiASAx9IuSQSe-S6NATSREQCE4P6UNo5oFMPluoZkw_9cpWxCWyjahOqz5ecpIFCfvTTYRUEjQojnQyMTbeo5Efo69dV5S3HBD0CST8vS_KQBZRBlt7tlJThBN1J6xkYp1r63MxtTASCci7pvkdRRwlbpq-s4NmkggjXe_DrJM?encodeFailures=1&width=1404&height=910"
                                        alt="Carrera de desarrollo frontend react" width="100%" height="510px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Bases de datos SQL & NoSQL</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto molestias et nam
                        nihil provident aliquid blanditiis iusto, explicabo eligendi veniam.
                    </p>
                    <button type="button" id="open-modal-sql" class="btn btn-certificate" data-bs-toggle="modal"
                        data-bs-target="#modalSQL">
                        Certificado
                    </button>
                    <h5 class="">CoderHouse</h5>
                </div>
                <!--Modal Certificado SQL-->
                <div class="modal fade" id="modalSQL" tabindex="-1" aria-labelledby="sql" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="min-width: 700px;">
                            <div class="modal-body">
                                <div>
                                    <img src="https://chi01pap002files.storage.live.com/y4m-tUdZgTotoyi2Vliy69-ai8p1YnD5o7dBzC4W1Dvd4BAVEzMAiRbIlbW7WLHB-lZUzWKrgui5EN3hmht4XAr9m8ER2pV_kAZZ889KvW5j1zkPduEByMXZRH6RkDkEKtMnzIPjNsrli0PxxpFbhX6G0QXIgY450z5SwS2OpPKStNcGYe9jT5McoszddA4_nlTLotsH-dBfiHiBGrckupKucLHwUCG5bfbkEcrXl84NDA?encodeFailures=1&width=1404&height=910"
                                        alt="Data Analitics" width="100%" height="510px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box mt-1">
                    <h4>2023 - 2024</h4>
                    <h3>Data Science</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto molestias et nam
                        nihil provident aliquid blanditiis iusto, explicabo eligendi veniam.
                    </p>
                    <button type="button" id="open-modal-science" class="btn btn-certificate" data-bs-toggle="modal"
                        data-bs-target="#modalScience">
                        Certificado
                    </button>
                    <h5>CoderHouse</h5>
                </div>
                <!--Modal Certificado Data Science-->
                <div class="modal fade" id="modalScience" tabindex="-1" aria-labelledby="data-science"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="min-width: 700px;">
                            <div class="modal-body">
                                <div>
                                    <img src="https://chi01pap002files.storage.live.com/y4mTvRN390pGOrNMsXVkDQZXOrfVLpyglCOIJkQK0UMwdKAPA5uGem3bC-00Qf5ltVCQbXDrpoUkfN8rdBQDuKtCFoJ5wQOBBZm9AGa_43BsWGGLwZgrlvEMtDYwhrcjVcIAUiS6ATTGPcA541J7f-yePdkNtTPg8WiyNjx14uOa5h6SiL0pd2JM9E_0mPpV6gWjSj5Qn7ZU5T2qd8-Tu6ZOl3NH8Mi5sc63d7KCuVumNQ?encodeFailures=1&width=1404&height=910"
                                        alt="Data Analitics" width="100%" height="510px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
        <div class="column column-right">
            <header class="sub-heading">
                <h2>HABILIDADES</h2>
            </header>
            <main class="resume-contents">
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Carrera desarrollo Front-End React Js</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto molestias et nam
                        nihil provident aliquid blanditiis iusto, explicabo eligendi veniam.
                    </p>
                    <button type="button" class="btn btn-certificate">
                        Proyectos
                    </button>
                    <h5>CoderHouse</h5>
                </div>
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Bases de datos SQL & NoSQL</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto molestias et nam
                        nihil provident aliquid blanditiis iusto, explicabo eligendi veniam.</p>
                    <button type="button" class="btn btn-certificate">
                        Proyectos
                    </button>
                    <h5>CoderHouse</h5>
                </div>
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Data Science</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto molestias et nam
                        nihil provident aliquid blanditiis iusto, explicabo eligendi veniam.</p>
                    <button type="button" class="btn btn-certificate">
                        Proyectos
                    </button>
                    <h5>CoderHouse</h5>
                </div>
            </main>
        </div>
    </div>
</section>

<section class="contact-form" id="contact">
    <div class="contact-row">
        <div class="contact-col column-1">
            <div class="contact-title">
                <h2>Contactame</h2>
            </div>
            <form class="form-1">
                <div class="inputGroup">
                    <input type="text" name="name" required="required" id="name">
                    <label for="name">Tu nombre</label>
                </div>
                <div class="inputGroup">
                    <input type="email" name="email" required="required" id="email">
                    <label for="email">Correo Electronico</label>
                </div>
            </form>
            <div class="contactSocialMedia">
                <a href="#"><span class="trasparent">.</span><i class="fa-brands fa-github"></i><span
                        class="trasparent">.</span></a>

                <a href="#"><span class="trasparent">.</span><i class="fa-brands fa-linkedin-in"></i><span
                        class="trasparent">.</span></a>
            </div>
        </div>
        <div class="contact-col column-2">
            <form class="form-2">
                <div class="inputGroup">
                    <textarea name="message" id="message" required="required"></textarea>
                    <label for="message">Escribe tu mensaje</label>
                </div>
                <button type="button" onclick="sendEmail()" class="form-button">Enviar Mensaje</button>
            </form>
        </div>
    </div>
</section>