<section class="home" id="home">
    <nav class="navbar">
        <div>
            <a class="text-decoration-none fs-5 fw-bold" style="color: #0d737c;" href="#home">Gabriel<span
                    style="color: #268c96;">Castro</span>
            </a>
        </div>
        <ul class="nav-links mt-3">
            <li><a class="fw-bold" href="#home">Inicio</a></li>
            <li><a class="fw-bold" href="#about">Sobre mi</a></li>
            <li><a class="fw-bold" href="/projects">Proyectos</a></li>
            <li><a class="fw-bold" href="#contact">Contactame</a></li>
        </ul>
        <a href="#" class="button-wrapper">
            <a href="https://api.whatsapp.com/send/?phone=3146381395" target="_blank"><button type="button"
                    class="btn contact-btn">Contactame</button></a>
        </a>
        <div class="menu-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <div class="hero">
        <div class="hero-text">
            <h3 class="fw-bold">Hola!</h3>
            <h1>Soy Gabriel Castro Ramírez</h1>
            <h2>Web Developer & Data Science</h2>
            <p>Programador web con conocimiento en lenguajes de programación como Javascript, Python, Jupiter notebook, Machine learning, Node JS, Express, SQL y MongoDB.
            </p>
        </div>
        <div class="hero-image">
            <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/Captura_de_pantalla_2024-06-11_013218-removebg-preview.png"
                alt="Hero Img" />
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="about-image">
        <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/Imagen%20de%20WhatsApp%202024-06-11%20a%20las%2001.29.57_1155f262.jpg"
            alt="Gabriel Castro Avatar">
        <div class="social-media">
            <a href="https://github.com/GabrielCastro1221" title="Perfil de GitHub" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/gabriel-castro-ramirez-b5b590252/" title="Perfil de Linkedin" target="_blank"><i
                    class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://api.whatsapp.com/send/?phone=3146381395" title="Contacto via WhatsApp" target="_blank"><i
                    class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <div class="about-desc">
        <h3 class="fw-bold">Sobre mi</h3>
        <h2>Conoce un poco acerca de mi</h2>
        <p class="mb-4">Soy una persona que le gusta trabajar en equipo ya que de cada experiencia quedan aprendizajes que ayudan a la formación personal y profesional. Me adapto facil a los cambios y siempre trato de buscar soluciones pertinentes y efectivas a todos los retos que se me proponen.</p>
        <div class="about-personal-info mb-4 ms-4">
            <div><span class="fw-bold">Nombre:</span><span>Gabriel Castro</span></div>
            <div><span class="fw-bold">Edad:</span><span>36 años</span></div>
            <div><span class="fw-bold">Email:</span><span>gbrlcstr@hotmail.com</span></div>
            <div><span class="fw-bold">Ubicacion:</span><span>Manizales</span></div>
        </div>
        <a href="./curriculum" target="_blank" class="ms-4 btnCv" title="Hoja de vida">Ver Curriculum</a>
    </div>
</section>

<section class="container-fluid resume reusable" id="resume">
    <div class="resume-row">
        <div class="column column-left">
            <header class="sub-heading">
                <h2>EDUCACIÓN</h2>
            </header>
            <main class="resume-contents">
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Carrera desarrollo FullStack</h3>
                    <button type="button" class="btn btn-certificate" data-bs-toggle="modal"
                        data-bs-target="#modalReact">
                        Certificado
                    </button>
                    <h5 class="fw-bold">CoderHouse</h5>
                </div>
                <div class="modal fade" id="modalReact" tabindex="-1" aria-labelledby="React" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="min-width: 700px;">
                            <div class="modal-body">
                                <div>
                                    <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/4.%20Carrera%20FrontEnd%20React.png"
                                        alt="Carrera de desarrollo frontend react" width="100%" height="510px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Carrera Data Science</h3>
                    <button type="button" id="open-modal-sql" class="btn btn-certificate" data-bs-toggle="modal"
                        data-bs-target="#modalSQL">
                        Certificado
                    </button>
                    <h5 class="fw-bold">CoderHouse</h5>
                </div>
                <div class="modal fade" id="modalSQL" tabindex="-1" aria-labelledby="sql" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="min-width: 700px;">
                            <div class="modal-body">
                                <div>
                                    <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/5.%20SQL.png"
                                        alt="SQL Cretificado" width="100%" height="510px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box mt-1">
                    <h4>2023 - 2024</h4>
                    <h3>Bases de datos SQL</h3>
                    <button type="button" id="open-modal-science" class="btn btn-certificate" data-bs-toggle="modal"
                        data-bs-target="#modalScience">
                        Certificado
                    </button>
                    <h5 class="fw-bold">CoderHouse</h5>
                </div>
                <div class="modal fade" id="modalScience" tabindex="-1" aria-labelledby="data-science"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="min-width: 700px;">
                            <div class="modal-body">
                                <div>
                                    <img src="https://raw.githubusercontent.com/GabrielCastro1221/imgs_portfolio/main/Data%20Science%20I.png"
                                        alt="Data Science" width="100%" height="510px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="column column-right">
            <header class="sub-heading">
                <h2>HABILIDADES</h2>
            </header>
            <main class="resume-contents">
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Carrera desarrollo FullStack</h3>
                    <button type="button" class="btn btn-certificate">
                        Proyectos
                    </button>
                    <h5 class="fw-bold">CoderHouse</h5>
                </div>
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Carrera Data Science</h3>
                    <button type="button" class="btn btn-certificate">
                        Proyectos
                    </button>
                    <h5 class="fw-bold">CoderHouse</h5>
                </div>
                <div class="box">
                    <h4>2023 - 2024</h4>
                    <h3>Bases de datos SQL</h3>
                    <button type="button" class="btn btn-certificate">
                        Proyectos
                    </button>
                    <h5 class="fw-bold">CoderHouse</h5>
                </div>
            </main>
        </div>
    </div>
</section>

<section class="container mb-4  mt-4" id="contact">
    <div class="p-4 rounded" style="background-color: #eaf3fa;">
        <div class="d-flex align-items-center justify-content-around">
            <div class="contact-title">
                <h2 class="h2">Contactame</h2>
            </div>
            <div>
                <form id="form" class="contact-form">
                    <div class="field">
                        <input type="text" name="from_name" class="form-control w-100" placeholder="Ingresa tu nombre"
                            id="from_name">
                    </div>
                    <div class="field mt-2">
                        <input type="text" name="email_id" class="form-control w-100" placeholder="Ingresa tu email"
                            id="email_id">
                    </div>
                    <div class="field mt-2">
                        <textarea name="message" rows="6" cols="46" class="form-control"
                            placeholder="Escribe tu mensaje" id="message"></textarea>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <input type="submit" id="button" class="btnCv w-100 mt-3" value="Enviar mensaje">
                    </div>
                </form>
            </div>
        </div>
</section>